body {
  background-color: darkgoldenrod;
}
.header {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  &_form {
    grid-column: 1/2;
  }
  &_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    padding: 10px;
  }
}
.serie_container {
  background-color: darkkhaki;
  padding: 5px;
  color: rgb(114, 41, 15);
}
.serie_container_fav {
  background-color: rgba(87, 119, 82, 0.486);
  color: darkred;
}
