body {
  background-color: darkolivegreen;
}
.header {
  text-align: center;
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  &_form {
    grid-column: 1/2;
  }
  &_list {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 50px;
    background-color: darkmagenta;

    grid-column: 1/2;
  }
  &_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    padding: 10px;
  }
}
.serie_container {
  border-radius: 10px;
  background-color: mediumorchid;
  padding: 5px;
  color: black;
}
.serie_container_fav {
  background-color: mediumpurple;
  color: whitesmoke;
}
.fav_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 0px;

  &_item {
    align-items: center;
  }

  &_delete {
    text-decoration: none;
    padding: 5px;
    background-color: darkviolet;
    border-radius: 6px;
    border: none;
    &:focus {
      outline: none;
    }
    &:hover {
      background-color: #ffffff;
    }
    &_icon {
      size: 15px;
      color: black;
      font-weight: 600;
      font-size: 20px;
    }
  }
}
