.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  &_form {
    margin-left: 25px;
    grid-column: 1/2;
  }

  &_list {
    display: flex;
    color: mediumturquoise;
    font-size: 20px;
    margin-left: 5px;
    width: fit-content;
    flex-direction: column;
    margin-top: 10px;
    padding: 20px;
    border-radius: 50px;
    grid-column: 1/2;
    &_title {
      color: dodgerblue;
      font-style: oblique;
      font-size: 20px;
    }
  }
  &_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3px;
    padding: 10px;
    font-size: 20px;
    font-style: italic;
  }
}
.serie_container {
  border-radius: 10px;
  background-color: lightblue;
  padding: 5px;
  color: black;
}
.serie_container_fav {
  background-color: midnightblue;
  color: whitesmoke;
}
.fav_list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  padding: 5px;

  &_item {
    align-items: center;
  }
}
.form_btn {
  width: 70px;
  height: 30px;
  outline: none;
  border-radius: 50px;
  background-color: midnightblue;
  color: aliceblue;
}
.form_input {
  outline: none;
  height: 30px;
  border-radius: 10px;
}
